* {
    box-sizing: border-box;
}

body {
    background-image: url("/img1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
    color: white;

}

.countEl {
    padding: 20px 30px;
    margin: 10px;
    border: 1px solid white;
    border-radius: 5px;
}

.countEl span {
    font-size: 2rem;
    line-height: 1;
}

h1 {
    font-size: 3rem;
    text-transform: uppercase;
    font-weight: 100;
    color: burlywood;
    padding-left: 100px;
}

.big-text {
    text-align: center;
    font-size: 4rem;
    font-weight: 800;
    margin: 0;
    padding: 0;
    color: burlywood;
}

.countdown-container {
    display: flex;
    padding-left: 100px;
}